<body class="white-content" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
<div class="main-panel">
  <div class="content">
    <h4 id="item-0">IYASU HARUHI</h4>
    <div class="extras">
      <button type="button" class="btn btn-simple" data-toggle="modal" data-target="#journal">
        Journal
      </button>
      <button type="button" class="btn btn-simple" data-toggle="modal" data-target="#instagram">
        Instagram
      </button>
    </div>
    <hr>
    <img src="../../../assets/img/haruhi.png" class="left-image">
    <div class="biography-container">
      <div class="biography">
        <p>
          <b>NAME:</b> <b class="pop"> 癒す 春陽</b> – HARUHI IYASU.<br>
          <b>KNOWN AS:</b> THE HEALING TOUCH<br>
          <b>AGE | BIRTHDAY:</b> 26 YEARS OLD | APRIL 21ST (TAURUS)<br>
          <b>HEIGHT | WEIGHT:</b> 163 CM (5’4”)  | 47 KG (103.5 LBS)<br>
          <b>HAIR:</b> BLACK<br>
          <b>EYES:</b> <b class="pop"> SOFT PINK</b><br>
          <b>OCCUPATION:</b> JUST YOUR LOCAL BACK-ALLEY DOCTOR, TRYING HER HARDEST<br>
          <b>LICENSED(?):</b>  . . . IT’S A LONG STORY <br>
          <b>AFFILIATION:</b> YAKUZA/THUGS/ANYONE WHO’S GOT A BAD SCRATCH AND SOME CASH <br>
          <b>LIKES:</b> THE HEALTHY THINGS NO ONE EVER EATS, KNITTING, <b class="pop">RABBITS</b> (<i>ANYTHING</i> WITH RABBITS)<br>
          <b>DISLIKES:</b> OBSTINATE PATIENTS, SPICY FOOD, NEEDLESS VIOLENCE<br>
          <b>ORIENTATION | STATUS:</b> <b class="pop"> BISEXUAL</b> | 2 BUSY 4 U<br>
          <b>FAMILY:</b> ESTRANGED MOTHER, DECEASED FATHER, NO SIBLINGS OR CLOSE FAMILY<br>
        </p>
        <br>
        <p>
          <b class="pop">✿</b> STUBBORN, BUT WELL-MEANING. EXPECT OCCASIONAL SASS. SOFT-HEARTED & EXPRESSIVE. <br>
          <b class="pop">✿</b> WORLD-CLASS PRACTITIONER OF <b class="pop">TOUGH LOVE</b> AND TENDER TOUCHES. <br>
          <b class="pop">✿</b> DESPITE CIRCUMSTANCES LEADING TO A SUSPECT PROFESSION, ELEANOR HOLDS HERSELF AND HER WORK TO A HIGH MEASURE. SHE TRIES TO KEEP WHAT LITTLE INTEGRITY SHE HAS LEFT INTACT. <br>
          <b class="pop">✿</b> <i style="text-decoration: line-through;">LOWKEY OBSESSIVE</i> <b class="pop"> PASSIONATE</b> ABOUT ALL THINGS RELATED TO THE MEDICAL FIELD.<br>
          <b class="pop">✿</b> DROWNING IN DUBIOUS DEBT (INHERITED FROM HER LATE GAMBLER OF A FATHER, <i>oh joy</i>).<br>
          <b class="pop">✿</b> MUAY THAI ENTHUSIAST – CAN PROBABLY <b class="pop">KICK YOUR ASS</b> JUST ABOUT AS EASILY AS SHE CAN PATCH YOU UP.

        </p>
        <!--Music-->
        <iframe width="100%" height="0" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1019486098&color=%23575757&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>


      </div>
    </div>
    <div class="navigate">
      <hr>
      <a href="characters/akio" style="float:right">
        Akio
        <i class="tim-icons icon-double-right" style="top: 3px; font-size: 8px; padding-left: 3px;"></i>
      </a>
    </div>
  </div>
</div>
</body>
<!-- Modal -->
<div class="modal fade" id="journal" tabindex="-1" role="dialog" aria-labelledby="journalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="journalLabel">Journal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <hr>
        <div class="journal-container">
          <div style="text-align:left;">
            <h5>Narcotic</h5>
            drown me supple<br>
            in hazel abyss,<br><br>
            lapse in presence—<br><br>
            you are dreams and<br>
            lucid addiction,<br>
            rum bliss and a<br>
            daring misfit<br><br>
            my latest affliction—<br><br>
            you are<br>
            blurred lines of<br>
            trance transcendence and<br>
            an operose mind<br><br>
            opium love—<br><br>
            you remind me of<br>
            just what i’m missing
          </div>
          <br>
          <div style="text-align:right;">
            <h5>Devil's Best Weapon</h5>
            If a succubus could simper,<br>
            would it sit subtle on her lips?<br>
            Or would her smile slip wryly<br>
            to sardonic temper,<br>
            swaying hips, and<br>
            toxic figure?<br><br>
            Well, no cloying grin<br>
            fits quite like 'come-hither' eyes,<br>
            milky thighs, or sinful nights.<br><br>
            No cloying grin fits quite like<br>
            a bit-lip paired with a little<br>
            gin and tonic.<br><br>
            No, her smile is hypnotic—<br>
            a necrotic narcotic,<br>
            breaking down<br>
            'dedicated' men<br>
            on a whim.<br><br>
            Her smile is<br>
            confident and<br>
            erotic,<br>
            playing its part as<br>
            the <b>Devil's Best Weapon.</b>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="instagram" tabindex="-1" role="dialog" aria-labelledby="instagram-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="instagram-label">Instagram</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <hr>
        <div class="elfsight-app-136fdc3b-cb7b-4c05-8cd1-ae8b1c3fc80f"></div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
