<body class="white-content" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
<div class="main-panel">
  <div class="content">
    <h4 id="item-0">KONEKO AIKA</h4>
    <div class="extras">
      <button type="button" class="btn btn-simple" data-toggle="modal" data-target="#poetry">
        Poetry
      </button>
    <button type="button" class="btn btn-simple" data-toggle="modal" data-target="#twitter">
      Twitter
    </button>
  </div>

    <hr>
    <img src="../../../assets/img/aika.png" class="left-image">
    <div class="biography-container">
      <div class="biography">
        <p>
          <b>NAME:</b> <b class="pop"> 子猫 (の)哀歌</b> – AIKA KONEKO<br>
          <b>AGE | BIRTHDAY:</b> 24 YEARS OLD | MAY 15TH (TAURUS)<br>
          <b>HEIGHT | WEIGHT:</b> 158 CM (5’2”)  | 44 KG (97 LBS)<br>
          <b>HAIR:</b> BLACK<br>
          <b>EYES:</b> <b class="pop"> SOFT BLUE</b><br>
          <b>OCCUPATION:</b> ASPIRING ARTIST, PART-TIME BARISTA<br>
          <b>VICES:</b> ANYTHING THAT'LL TAKE THE EDGE OFF OF A HARD DAY

        </p>
        <br>
        <p>
          <b class="pop">◆</b> SARCASTIC, MELLOW, PESSIMISTIC REALIST, POSSIBLY FLIRTY AFTER A DRINK OR TWO. (IF YOU'RE BUYIN'.) <br>
          <b class="pop">◆</b> COME FOR THE WITTY REMARKS AND SASS, STAY FOR A GOOD CONVERSATION.<br>
          <b class="pop">◆</b> RENTS THE SMALL FLAT JUST ABOVE THE COFFEE SHOP WHERE SHE WORKS. THE PLACE DOUBLES AS HER "STUDIO" AND LIVING SPACE. <br>
          <b class="pop">◆</b> SINCE SHE HAS YET TO MAKE HER "BIG BREAK" WITH HER ARTWORK, AIKA SUPPLEMENTS HER INCOME THROUGH VARIOUS OTHER UNDERHANDED MEANS. WATCH YOUR POCKETS AND YOUR WITS.<br>
          <b class="pop">◆</b> PREFERS OIL PAINTS, BUT WORKS WITH SEVERAL DIFFERENT MEDIUMS.<br>
          <b class="pop">◆</b> <b>TIT FOR TAT:</b> DEALS IN FAVORS (EASILY WON OVER BY SWEETS, COFFEE, OR FREE FOOD/DRINKS)
        </p>
        <!--Music-->
        <iframe width="100%" height="0" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1019483947&color=%23575757&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

      </div>
    </div>
    <div class="navigate">
      <hr>
      <a href="characters/akio" style="float:left">
        <i class="tim-icons icon-double-left" style="top: 3px; font-size: 8px; padding-right: 3px;"></i>
        Akio
      </a>
      <a href="characters/haru" style="float:right">
        Haru
        <i class="tim-icons icon-double-right" style="top: 3px; font-size: 8px; padding-left: 3px;"></i>
      </a>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="poetry" tabindex="-1" role="dialog" aria-labelledby="poetryLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poetryLabel">Poetry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <hr>
        <iframe src="https://spilled-soliloquy.tumblr.com/" width="100%" height="300" frameborder="0">&nbsp;</iframe>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="twitter" tabindex="-1" role="dialog" aria-labelledby="twitterLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="twitterLabel">Twitter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <hr>
        <a class="twitter-timeline" data-height="200"
           data-chrome="noheader nofooter noborders noscrollbar transparent"
           href="https://twitter.com/kittens_lament?ref_src=twsrc%5Etfw">&nbsp;</a>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

</body>
