<body class="white-content" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
<div class="main-panel">
  <div class="content">
    <h4 id="item-0">HARU</h4>
    <hr>
    <img src="../../../assets/img/haru.png" class="right-image">
    <div class="biography-container">
      <div class="biography">
        <p><i>italics.</i> <b>bold.</b> <a href="#">link</a><u>underline.</u></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium imperdiet dui, nec placerat est semper
          non. Nunc imperdiet, metus ut pharetra euismod, elit libero pulvinar nisl, tincidunt sodales nunc nulla eu
          lectus.
          Vestibulum magna augue, hendrerit eu finibus a, dignissim sed ligula. Phasellus congue sit amet quam at
          eleifend.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut dictum ante tortor,
          vitae accumsan lectus fringilla et. Sed viverra consectetur lectus sit amet blandit. Sed ut pulvinar lacus,
          sed
          tincidunt eros. Duis euismod purus feugiat, fermentum quam eu, laoreet nibh. Nulla vel lectus eu mi dictum
          lobortis. In quis arcu sed libero consequat tempor. Curabitur non sem eros.
        </p>
        <p>
          Praesent semper nisl odio, vitae vestibulum libero consequat nec. Mauris ut feugiat sem. Curabitur sodales
          rutrum
          sem, quis accumsan diam tempus ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
          ac
          turpis egestas. Nam ante lorem, aliquet ac justo sed, malesuada aliquam risus. Ut at ligula sollicitudin,
          hendrerit justo sit amet, varius massa. In condimentum quam in condimentum luctus. Quisque fermentum odio
          orci,
          in
          eleifend lacus rutrum eu. Vivamus diam elit, ultrices quis dui eget, ultricies porta velit. Praesent id
          fermentum
          urna. Ut sed luctus neque. Sed imperdiet felis sed libero viverra, ac egestas sem blandit. Integer est felis,
          placerat in scelerisque eu, pretium et orci.
        </p>
        <p>
          Aliquam maximus malesuada mauris tristique rhoncus. Donec pulvinar gravida mi, ut tristique elit ullamcorper
          non.
          Morbi blandit lacinia magna lobortis placerat. Vestibulum eleifend lacus ut faucibus dignissim. Vivamus
          consequat,
          velit eget pulvinar porttitor, tellus erat lacinia odio, aliquam varius nisi metus eget magna. Vestibulum
          varius
          venenatis augue, quis congue dolor lobortis pharetra. Mauris egestas risus vitae consequat dictum. Mauris
          luctus
          libero quis nibh varius condimentum. Pellentesque sit amet blandit sem, vel facilisis metus. Suspendisse
          potenti.
          Duis sit amet viverra urna. Morbi sodales, ligula et pretium vestibulum, mi orci volutpat nisl, non imperdiet
          justo odio ac lacus. Aliquam non ligula nec magna porta fermentum cursus id risus. Quisque feugiat, diam in
          finibus condimentum, tortor libero dictum leo, eget rhoncus tortor urna vitae nisi. Morbi fringilla, nunc sed
          scelerisque iaculis, nulla odio blandit ex, nec auctor odio nisl eget mi.
        </p>
        <p>
          Donec feugiat enim a elementum pellentesque. Duis suscipit lorem et nisl efficitur, id luctus ligula
          tincidunt.
          Fusce ac tincidunt erat, in volutpat mauris. Sed maximus nisi eget sapien pretium dignissim vitae in felis.
          Aenean
          in leo vel ligula sagittis finibus sed ac erat. Pellentesque viverra non leo quis tincidunt. Quisque dictum,
          turpis at porta tincidunt, massa mauris pretium ipsum, at pharetra urna ex vel leo. Vivamus ac risus purus.
          Pellentesque orci sapien, accumsan vel sagittis ac, porta non ipsum. Donec metus ligula, tincidunt ut rutrum
          hendrerit, posuere ac erat. Curabitur tristique nisl eget lorem ornare tempor.
        </p>
        <p>
          Ut dui sapien, cursus in elementum eget, ultrices et lectus. Aenean a ante ut felis porta tempus. Maecenas
          convallis massa felis. Nulla purus lacus, mattis ac diam ut, egestas vehicula est. Integer ac faucibus urna.
          Proin
          condimentum elit ut arcu sollicitudin facilisis. Curabitur luctus augue justo, ac imperdiet dui rutrum in.
          Nunc
          iaculis nunc risus, venenatis volutpat mi mattis ac. Donec vitae rutrum orci. Nullam leo dui, efficitur at
          elementum euismod, bibendum ac neque. Vestibulum in odio tincidunt mi sollicitudin pulvinar. Fusce quis
          venenatis
          nunc. Ut ornare, orci nec faucibus scelerisque, quam quam vehicula nisi, non sagittis nisl magna ac diam.</p>
      </div>
    </div>
    <div class="navigate">
      <hr>
      <a href="characters/aika" style="float:left">
        <i class="tim-icons icon-double-left" style="top: 3px; font-size: 8px; padding-right: 3px;"></i>
        Aika
      </a>
    </div>
  </div>
</div>
</body>
