<body class="white-content" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
<div class="main-panel">
  <div class="container">
    <header class="clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <button #addPost type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
              <i class="tim-icons icon-simple-add"></i>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <app-show-post></app-show-post>
      <app-add-post></app-add-post>
    </main>
  </div>

</div>
</body>
