<body class="white-content">
<div class="main-panel">
  <div class="row">
    <div class="col-lg-3">
      <a href="characters/haruhi">
      <div class="card bg-light">
        <img class="card-img" src="../../assets/img/haruhi.png" alt="Card image">
        <div class="card-img-overlay haruhi">
        </div>
        <div class="text-contents-overlay">
          <a class="link--nukun" href="characters/haruhi"><span class="haruhi-text">H</span>aruhi</a>
        </div>
      </div>
      </a>
    </div>

    <div class="col-lg-3">
      <a href="characters/akio">
      <div class="card bg-light">
        <img class="card-img" src="https://i.imgur.com/s7Qf6vH.png"/>
        <div class="card-img-overlay akio">
        </div>
        <div class="text-contents-overlay">
          <a class="link--nukun" href="characters/akio"><span class="akio-text">A</span>kio</a>
        </div>
      </div>
      </a>
    </div>

    <div class="col-lg-3">
      <a href="characters/aika">
      <div class="card bg-light">
        <img class="card-img" src="../../assets/img/aika.png" alt="Card image">
        <div class="card-img-overlay aika">
        </div>
        <div class="text-contents-overlay">
          <a class="link--nukun" href="characters/aika"><span class="aika-text">A</span>ika</a>
        </div>
      </div>
      </a>
    </div>

    <div class="col-lg-3">
      <a href="characters/haru">
      <div class="card bg-light">
        <img class="card-img" src="../../assets/img/haru.png" alt="Card image">
        <div class="card-img-overlay haru">
        </div>
        <div class="text-contents-overlay">
          <a class="link--nukun" href="characters/haru"><span class="haru-text">H</span>aru</a>
        </div>
      </div>
      </a>
    </div>

  </div>
</div>
</body>
